/* Colors */

*{
  max-width: 100vw;
}

:root {
  --first-color: #42ca88;
  --first-color05: #42ca8887;
  --second-color: #5a4cef;
  --second-color075: #5a4cefb5;
  --second-color05: #5a4cef81;
  --second-color025: #5a4cef37;
}

html {
	overflow-y: auto;
	scroll-behavior: smooth;
  font-size: 20px!important;
}

body{
  height: 100vh;
  width: auto;
}

.navbar {
  min-height: unset;
  height: 3.25rem;
}

.navbar-start #index-list{
  display: none;
}

.footer {
  max-height: 10vh;
  z-index: 2;
  padding: 1em 0!important;
  position: relative;
  font-size: 0.7em;
}

/*  Sets body width */
.container {
	max-width: 100%!important;
	margin-left: 0!important;
	margin-right: 0!important;
}

/* Set main components */
main{
  border-left: 3px solid  var(--first-color);
  position: relative;
  top: 3.25rem;
  z-index: 2;     
  background-color: white;

}

.content.is-medium{
  font-size: 1em!important;
}

.row{
  display: flex;
  }

.navbar{
  position: fixed !important;
  width: 100%;
}

/* sections  */

.section {
	height: fit-content;
	margin: 0;
  padding: 5em 10em!important;
}

.subsection {
	height: fit-content;
  margin: 1em 0 0 0;
  padding-left: 1em;
}

/* Grid*/
  .grid {
    display: grid;
    grid-template-columns: 15% 85%;
}

/* Sidebar */
#my-awesome-nav {
	top: 3.25rem;
  bottom: 0;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 15%;
  background-color: #fafafa;
}

.nav-buttons{
  position: fixed;
  background-color: var(--first-color);
  color: white;
  width: inherit;
  display: flex;
	padding: 0em 0.5em;
}

.nav-buttons > h1{
  align-self: center;
  font-size: 1em;
  padding-right: 0.5em;
}

.nav-buttons .fa-arrow-up:before, .nav-buttons .fa-arrow-down-short-wide:before, .nav-buttons .fa-arrow-up-short-wide:before{
  color: white;
}


.nav-index{
  
  margin-top: 4.5em;
    height: 70vh;
    overflow-y: auto;

font-size: 0.75em;
}
#my-awesome-nav ul {
	padding: 0 0.25em;
}

#my-awesome-nav a {
	display: inline-block;
  padding-left: 0.25em;
  align-self: center;
}

#my-awesome-nav li.active > a {
  font-weight: bold;
	color: black;
  scroll-behavior: smooth;
}

/* Boxes */


.overview_box {
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
  display: block!important;
  }

.overview_box_inline {
  margin-bottom: 0!important;
  margin-top:1em}
  

.level{
  justify-content: center!important;
  }
  
  .display_box {
  padding-left: 0em;
  padding-right: 1em;
  display: block!important;
  }
  
  .overview_box > .level-item > div > .title,  .overview_box_inline > .level-item > div > .title, .display_box > .level-item > div > .title {
  color: var(--second-color);
  padding: 1em;
  }
  
  .display_box > .level-item{
  display: block;
  }

  .is-boxed{
    padding-bottom: 0.8em;
  }
  .is-boxed > ul{
    margin-left:0!important;
    font-size: 0.8em;
  }
  
/* Pagination */

.pagination-btns{
  margin-top: 5em;
  width: 100%;
  display: inline-flex;
  font-size: 0.8em;
}

.breadccrumbs{
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  
  font-size: 0.75em;
}

div:has(>.breadccrumbs){
  border-top: 1px solid #4a4a4a;
  margin-bottom: 1em;
  margin-top: 2em;
  padding-top: 0.5em;
  position: sticky;
  top: 3.25rem;
  z-index: 2;
  background-color: white;
}
/* Buttons */
button span {
color: inherit;
font-size: 1.5em;
}

button:hover{
color: white;
background-color: rgba(255, 255, 255, 0.453);
}
#sidebar_btn:hover, .mainTop:hover {
  background-color: var(--first-color05);
  }
#sidebar_btn, .collapse-expand, .to-top, .mainTop{
  height: 4em;
  background-color: var(--first-color);
  color: white;
  border: 0px;
  font-size: 0.75em;
}

#sidebar_btn{
  width: 4em;
}

.mainTop{
  width: 2em;
  height: 2em;
  right: 1.5em;
  bottom: 17vh;
  z-index: 2;
  position: fixed;
  border-radius: 75%;
}
.mainTop a{
  color: white ;
  font-size: 1em;
}
#sidebar_btn{
  position: fixed;
  left: 15%;
  border-radius: 0px 5px 5px 0px;
}

/* Links */

.link-nav{
  border-top: 1px solid rgb(122, 122, 122);

}

/* Widhts */
  .w_100{
    width: 100%;
    }
  .w_95{
    width: 95%;
    }

  .w_80{
    width: 80%;
    }

  .w_60{
  width: 60%;
  }
  .w_70{
  width: 70%;
  }

  .w_50{
  width: 50%;
  }

  .w_40{
  width: 40%;
  }

  .w_30{
  width: 30%;
  }

  .w_25{
    width: 25%;
    }

  .w_20{
  width: 20%;
  }

  .w_5{
    width: 5%;
    }

  .w_0{
    width:0%;
    }
  
  .w_60:has(.overview_box_inline) {
    padding-top: 5em;
    }

/* paddings */

.padding-top2{
 padding-top: 2em;
}

.padding-bot2{
  padding-bottom: 2em;
/* figures */
}
.content figure{
  margin-right: 0!important;
  margin-left: 0!important;
}

.team-pic{
  border-radius: 75%;
  margin: 1em;
  max-height: 155px;
  height: 100%;
  max-width: 150px;
  width: 100%;
  border: 3px dashed var(--second-color);
  object-fit: cover;
}
/* Sections  specifics*/

/* about */
#about{
padding-top: 10em;
}

#about li{
  margin: 1rem 0;
  }

.central{
  text-align: right;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: 1em 0 0 0;
  border-top: 1px solid;
  margin: 1em 0;
}
  .example{
  margin: 0 1em;
  min-width: 11em;
}

.ex-header{
    border-bottom: 1px solid rgb(122, 122, 122);
    color: rgb(122, 122, 122) ;
    font-size: 0.5em;
    text-transform: uppercase;
    height: 1.5em;
  }

.ex-content{
  
  border-bottom: 1px solid rgb(122, 122, 122);
  padding: 0.5em 0;
  height: fit-content;
  margin-bottom: 1.5em;
  text-align: center;}

.ex-content a{
  display: block!important;
  height: 100%;
}

.ex-content img{
  max-height: 300px;
  vertical-align: middle;;
}

/* datsets analysis */
.metadata{
 margin: 0px!important;
}

.metadata li{
  margin: 1em 0;
}

.metadata p{
  text-transform: capitalize;
  font-size: 0.8em;
}

.text-right{
text-align: right;
}

/* Word2vec metrics */

code{
  color: black!important;
  background-color: white!important;
  font-size: 0.6em!important;
  }

.analogies{
  padding-left: 3em;}

.analogies .w_50{
    text-align: center;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 0 0.5em;
}

.analogies .w_50 p{
  font-size: 0.8em;
}

/* Doc2Vec metrics*/

.d2vm-results{
  display: grid ;
}



/* TF-IDF results */
.tf-idf-results{
  justify-content: center;
}

/* w2v results  */

#resultsWordVec .w_50, #resultsDocVec .w_50{
  padding: 0 0.5em;
}


/* visualizations */

#visualizationsTopicMod .w_60{
  margin-right: 4em;
}

.block{
  padding: 4em 0;
  height: auto;
}

.clear{
clear: both;
}

.down{
transform: rotate(180deg);
}

.chart{
margin: 0em auto 1em auto;
}


.no-scroll{
overflow: hidden;
}

.content ul {
list-style: none !important;

}

.img-right{
float:right;
}


/* tables */

table{
font-size: 0.8em;
position: relative;
z-index: 1;
border-collapse: collapse;
border-spacing: 0;
overflow-x: hidden;
}
table td, table th{
  word-wrap: break-word;
}
th {
position: sticky;
top: 0px;  /* 0px if you don't have a navbar, but something is required */
background: white;
margin:1em!important;
}


.big-table{
max-height: 30em;
overflow-y:scroll!important;

overflow-x:auto!important;
}


.medium-table{
max-height: 15em;
margin-left: 1em;
overflow-y:hidden;
overflow-x:hidden;
font-size: 0.em;
}

.medium-table:hover {
overflow-y: scroll;
}
table{
padding: 1em;
}

.two-tables{
padding-top: 1em;
display: block;
}

/* highcharts  */
.display-full{
display: block;
}

.display-medium{
display: none;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.circ {
  height: 100%;
}

.circ-bar{
  display: flex;
  flex-direction: column;
}

main:has(#licence){
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1500px), print{

  .section{
    padding: 5em 3.5em!important;
  }

  #visualizationsTopicMod .w_60 {
    margin-right: 2em;
}

.mainTop{
  right: 0em;
  width: 3em;
  height: 3em;
}

}


@media screen and (max-width: 1024px), print{
  #sidebar_btn, .collapse-expand, .to-top {
  font-size: 0.5em;}

  .nav-index {
    margin-top: 3.5em;}

}
@media screen and (max-width: 768px){

  html{
    font-size: 16px!important;
  }

  .grid {
    display: flex;
}

  .w_100, .w_95, .w_80, .w_60, .w_70, .w_50, .w_40, .w_30, .w_25, .w_20, .w_5, .w_0{
    width:100%;
    margin-bottom: 2em;
  
}

.row{
  display: block;
}

.section{
  padding: 5em 2.25em!important;
}

.subsection {
  margin: 0.5em 0 0 0;
  padding-left: 0.5em;
}

.analogies{
  padding-left: 0em;
}


#my-awesome-nav {
    width: 20%;
}
.nav-buttons > h1 {
  font-size: 1em;
}

#sidebar_btn{
  left: 20%;
  font-size: 1em;
}

.mainTop {
  width: 2em;
  height: 2em;
  right: 5px;
  padding: 0px;
}



.navbar-start #index-list{
  display: block;

}

.navbar-start{
  overflow-y: auto;
  height: 100vh;
}
.navbar-start #index-list li
{
display: block;
line-height: 1.5;
padding: 0.5rem 0.75rem;
position: relative;}

.navbar-start #index-list li a{
  color: #4a4a4a!important;
}

.reference-nav, #sidebar_btn{
  display: none;
}

.grid {
  display: flex;

}

main{
  border: 0px;
}

div:has(>.breadccrumbs){
  display: flex;
    flex-direction: column-reverse;
  
}

.breadccrumbs{
  margin-bottom: 1em;
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 0px;
  max-width: 768px;
  margin: 1em auto;
}

#resultsWordVec .w_50, #resultsDocVec .w_50 {
  padding: 0em;
}

table{
  font-size: 0.6em;
}

.overview_box_inline, .overview_box{
  display: flex!important;
  justify-self: center;
}

.overview_box_inline .level-item {
  margin: 0em 1em;
}

.overview_box_inline .level-item:not(:last-child) {
  margin-bottom: 0px!important;
}

}



